<?xml version="1.0"?>

<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=.;Initial Catalog=Capstone_Pathway;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="Pathway_Model"
       connectionString="Data Source=.;Initial Catalog=Capstone_Pathway;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
</connectionStrings>

